body {
		font-family: 'Montserrat', sans-serif;
		font-family: 'Nunito', sans-serif;
		/*background-image: url("images/blueback.jpg");
		background-size:cover;
		background-repeat:no-repeat;*/
		/*background-color: rgb(108,208,168,0.4);*/

}

div {
	/*border:1px solid black;*/
}

h1, h2, h3, h4 {
	font-family: 'Halant', serif;
}

#nav-bar {
	background-color: rgba(190,218,218,0);
	
}

/*.mynav-text {
	color: green ;
}*/


#banner{
	background-color: rgba(108,208,168,0.4);
}

#features{
	/*background-color: rgba(190,218,218,0.4);*/
}

.footer{
	background-color: rgba(108,208,168,0.4);
}

#socialmedia {
			width:20%;
			display: block;
	}
		
.socialmediaimg {
		width:20px;
		margin:5px;
}

.socialmediaimg:hover {	
		padding:10px;
		border-radius:25px;
}

a{
	color: green;
}
